body {
  background: #76ad6b;
  color: #333333;
  padding-top: 5rem;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #484848;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  flex-direction: column;
}

.media-body {
  max-height: 16rem;
  overflow: hidden;
  width: 100%;
}

.media-body-detail {
  width: 100%;
}

.media-mask {
  background-image: linear-gradient(to top, white, transparent);
  width: calc(100% + 40px);
  height: 2rem;
  margin-left: -20px;
  margin-top: -2rem;
  /* margin-bottom: -2rem; */
}

.media-expand {
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-bottom: -10px;
  text-align: center;
  padding-bottom: 0.5rem;
}

.media-expand a:visited {
  color: purple;
  text-decoration: underline;
}

.media-expand a {
  text-decoration: underline;
  color: black;
}

.media-expand a:hover {
  text-decoration: underline;
  color: blue;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
