{% extends "blog/base.html" %}
{% block content %}
	<body>
		<article class='media-body'>
			<h1>Information About This Website</h1>
			<p class="article-content">
				This blog site allows you to create an account with a username and password. The user can then update their profiles with a name, an email, and a profile picture. The user can post blogs to the home page, where all the blog posts are displayed. These posts display the author, their profile picture and the date posted along with the blog content.

				The posts can only be edited by the author, and users cannot post without being logged in to their account, but the site can be viewed by everyone. The site has an admin account, who can add, delete, and modify anyone's blog posts or user accounts.

				This website was created using Django framework in a pip virtual environment. It utilizes the following packages/libraries: Bootstrap4, Pillow, Pandas, Numpy, and Crispy Forms. 
			</p>
		</article>
	</body>
{% endblock %}