{% extends "blog/base.html" %}
{% block content %}
	<body>
		<article>
			<h1>About Blogging Blobs</h1>
			<p class="article-content">
				This blog site allows you to create an account with a username and password. You can then update your profile with a name, an email, and a profile picture. You can post blogs to the home page, where all the blog posts are displayed. These posts display the author, their profile picture, the blog's category, post date, and content. Your home page can be filtered by category by clicking on one of the categories on the side bar.

				The posts can only be edited by you, and you cannot post without being logged in to your account. The posts can be viewed by everyone without logging in, however. The site has an admin account which can add, delete, and modify anyone's blog posts, categories or user accounts.
			</p>
		</article>
	</body>
{% endblock %}